body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #d6ababdd;
    color: #fff;
    padding: 20px 0;
}

nav {
    display: flex;
    justify-content: center; /* Align items horizontally at the center */
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
}

.content {
    display: flex;
    justify-content: center; /* Center the content horizontally */
    align-items: center; /* Center the content vertically */
    height: 100%; /* Optional: Adjust the height of the container */
}


.content {
    padding: 20px;
}
